<div class="container">
  <h2>NYC Building Energy Usage Per Year 2008 - 2012</h2>
  <div class="form">
    <%= form_tag "/", method: :get do %>
    <strong>Year</strong>
      <select name="year">
        <%= @years.each do |year| %>
          <option value="<%= year %>" <%= "selected" if params[:year] == year %>><%= year %></option>
        <% end %>
      </select>
      <input type="submit" value="Submit" class="btn btn-sm btn-primary">
    <% end %>
  </div>

  <br>

  <table class="table">
    <thead>
      <tr class="active table-head">
        <td>Building</td>
        <td>Year</td>
        <% @measurements.each do |measurement| %>
          <td><%= measurement %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= testing testing %></td>
          <td><%= @year %></td>
          <% @measurements.each do |measurement| %>
            <% if Energy.find_by(location: location, year: @year, measurement: measurement) %>
              <td><%= number_to_currency(Energy.find_by(location: location, year: @year, measurement: measurement).amount) %></td>
            <% else %>
              <td>0.0</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
